 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="#{email.reset.title}">JiraRush - Password Reset</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{email.reset.greeting(${user.firstName})}">
    Hello, {0}.
</p>
<p th:text="#{email.reset.request(${user.email})}">
    We received a request to reset the password for your JiraRush account: {0}.
<p>
    <a th:href="${resetUrl}" th:text="#{email.reset.button}">
        Reset Password
    </a>
</p></body>
</html>